.wrapper
{
    box-sizing: border-box;
    width: 1170px;
    max-width: 100%;
	margin: 0 auto;
}
.board
{
    border: 5px solid black;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.row
{
    display: flex;
}
.board .cell
{
    width: 73px;
    height: 73px;
}
.cell-light
{
    background-color: #d9b480;
}
.cell-dark
{
    background-color: #815732;
}